@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    90deg,
    rgba(12, 12, 12, 1) 50%,
    rgba(28, 28, 28, 1) 50%
  );

  color: #ffffff;
  margin: 0;
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ol {
  list-style: decimal;
  list-style-position: outside;
  padding-left: 10px;
  margin-bottom: 50px;
}

ul {
  margin-bottom: 50px;
  padding-left: 0;
  list-style: none;
}

ol li::marker {
  color: #e3b261;
  font-weight: 700;
  font-size: 0.8em;
  text-shadow: 0 0 4px #e3b261, 0 0 8px #e3b261, 0 0 12px #e3b261;
}

ol li {
  padding-left: 10px;
}

ul li {
  position: relative;
  padding-left: 1.8rem;
}

ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 999px;
  background: #e3b261;
  box-shadow: 0 0 4px #e3b261, 0 0 8px #e3b261, 0 0 12px #e3b261,
    0 0 16px #e3b261;
}

.background-image {
  position: absolute;
  inset: 90% auto auto 50%;
  transform: translate(-50%, -50%);
  scale: 1.2;
  opacity: 0.5;
  z-index: -1;
}

.recipe-image {
  background: url(../images/chicken\ soup.webp);
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 400px;
  border-radius: 40px;
  margin: 30px auto;
}

.recipe-content {
  width: 60%;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: -300px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.502);
  border-radius: 30px;
  backdrop-filter: blur(20px); /* main magic */
  -webkit-backdrop-filter: blur(20px);
}

h1 {
  font-family: "Holtwood One SC", serif;
  font-size: 40px;
  color: #e3b261;
  margin-bottom: 10px;
  text-align: center;
}

.recipe-subtitle {
  text-align: center;
}

.home-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: hsla(37, 70%, 64%, 0.315);
  border: 2px solid #e3b261;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  left: 30px;
  transition: all 0.3s ease-in-out;
}

.scroll-indicator {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

.arrow-down {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  transform: rotate(-45deg);

  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(-10px) rotate(-45deg);
  }
}
