*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  color: #fafafa;
}

/* 
  Header
*/

header {
  background-color: #232828;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
}

.logo-wrapper {
  flex: 0 0 25%;
}

.logo-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.main-nav {
  flex: 0 0 75%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
}

.nav-list li a:hover {
  color: rgb(222, 222, 222);
  border-bottom: 2px solid rgb(201, 201, 201);
}

/* 
  end of Header
*/

/* 
  Main
*/

main {
  background-color: #232828;
}
