@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(12, 12, 12, 1) 50%,
    rgba(28, 28, 28, 1) 50%
  );

  color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.main-title {
  text-align: center;
  font-size: 80px;
  color: #e3b261;
  margin-top: 120px;
}

.background-image {
  position: absolute;
  inset: 90% auto auto 50%;
  transform: translate(-50%, -50%);
  scale: 1.2;
  opacity: 0.5;
}
