@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    90deg,
    rgba(12, 12, 12, 1) 50%,
    rgba(28, 28, 28, 1) 50%
  );

  color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.main-title-container {
  height: 100vh;
  padding-top: 120px;
}
.main-title {
  text-align: center;
  font-size: 80px;
  color: #e3b261;
  font-family: "Holtwood One SC", serif;
}

.background-image {
  position: absolute;
  inset: 90% auto auto 50%;
  transform: translate(-50%, -50%);
  scale: 1.2;
  opacity: 0.5;
  z-index: -1;
}

.recipes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}

.recipe {
  height: 170px;
  font-family: "Holtwood One SC", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
}

.recipe:hover {
  filter: grayscale(0%);
  opacity: 1;
  font-size: 40px;
}

.recipe-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.553), rgba(0, 0, 0, 0.553)),
    url("./images/chicken soup.webp") center/cover no-repeat;
}

.recipe-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.553), rgba(0, 0, 0, 0.553)),
    url(./images/shrimp-pasta.webp) center/cover no-repeat;
}

.recipe-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.553), rgba(0, 0, 0, 0.553)),
    url(./images/gnocchi.webp) center/cover no-repeat;
}

.scroll-indicator {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  cursor: pointer;
}

.arrow-down {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(6px) rotate(-45deg);
  }
}
