@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(12, 12, 12, 1) 50%,
    rgba(28, 28, 28, 1) 50%
  );
}
body {
  font-family: "Holtwood One SC", serif;
  color: #ffffff;
}

.main-title {
  text-align: center;
  font-size: 80px;
  color: #e3b261;
}
